<div class="modal-header">
    <h3 class="modal-title">Sign In</h3>
    <hr>
    <div>
		<div>
			<a id="facebook-login" class="btn navbar-btn btn-block btn-social btn-facebook" href ng-click="ctrl.login('facebook')">
				<i class="fa fa-facebook"></i> Login with Facebook
			</a>
		</div>
		<div>
			<a id="google-login" class="btn navbar-btn btn-block btn-social btn-google-plus" href ng-click="ctrl.login('google_oauth2')">
				<i class="fa fa-google"></i> Login with Google
			</a>
		</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">back</button>
</div>